<!DOCTYPE html>
<html lang="en">

<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <!-- CSS only -->
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
                    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
                    crossorigin="anonymous">
          <title>Document</title>
</head>

<body>
          <nav class="navbar navbar-expand-lg bg-light">
                    <div class="container-fluid">
                              <div class="container d-flex">
                                        <a class="navbar-brand" href="#">Inventory</a>
                                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                                  data-bs-target="#navbarSupportedContent"
                                                  aria-controls="navbarSupportedContent" aria-expanded="false"
                                                  aria-label="Toggle navigation">
                                                  <span class="navbar-toggler-icon"></span>
                                        </button>
                                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                                  <form class="d-flex mx-auto" role="search">
                                                            <input class="form-control me-2" type="search"
                                                                      placeholder="Search" aria-label="Search" name="q">
                                                            <button class="btn btn-outline-success"
                                                                      type="submit">Search</button>
                                                  </form>
                                        </div>
                              </div>
                    </div>
          </nav>

          <div class="container d-flex justify-center align-center my-5">
                    <h2>Product name</h2>
                    <a href="" class="btn btn-outline-danger">Delete Product</a>
          </div>

          <form action="" method="post" class="container">
                    <label for="" class="form-label">name</label>
                    <input type="text" value="Nutric milk" name="name" placeholder="name of item" class="form-control">
                    <label for="" class="form-label">Price</label>
                    <input type="text" value="300" name="name" placeholder="name of item" class="form-control">
                    <label for="" class="form-label"></label>
                    <input type="text" value="10" name="quantity" placeholder="item quantity(e.g 50)"
                              class="form-control">
                    <label for="" class="form-label">Expiry date</label>
                    <input type="date" name="date" placeholder="Expiry date" class="form-control">

                    <button type="submit" class="form-control  mt-5 btn btn-outline-success">Update</button>
          </form>
          <!-- JavaScript Bundle with Popper -->
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
                    crossorigin="anonymous"></script>
</body>

</html>
